## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np
import random

In [ ]:
data = {'國家': ,
        '人口': }
data = pd.DataFrame()

In [11]:
string = 'country'
country = [string+str(i) for i in range(10)]
country

['country0',
 'country1',
 'country2',
 'country3',
 'country4',
 'country5',
 'country6',
 'country7',
 'country8',
 'country9']

In [10]:
population = np.random.randint(1000000,999999999,size=10)
population

array([108226483, 983306192, 378358696, 230859461, 958720452,  34010249,
       753408379, 899581034, 229041567, 809892862])

In [12]:
list_labels = ['country', 'population']
list_cols = [country, population]

zipped = list(zip(list_labels, list_cols))

In [13]:
country_population = pd.DataFrame(dict(zipped))
print(country_population)

    country  population
0  country0   108226483
1  country1   983306192
2  country2   378358696
3  country3   230859461
4  country4   958720452
5  country5    34010249
6  country6   753408379
7  country7   899581034
8  country8   229041567
9  country9   809892862

In [19]:
# get the row of max value
country_population.loc[country_population['population'].idxmax()]

country        country1
population    983306192
Name: 1, dtype: object

In [17]:
# 用數值排序
country_population.sort_values(by = "population")

    country  population
5  country5    34010249
0  country0   108226483
8  country8   229041567
3  country3   230859461
2  country2   378358696
6  country6   753408379
9  country9   809892862
7  country7   899581034
4  country4   958720452
1  country1   983306192